.cognitive-distortion {
  background-color: var(--light);
}

.cognitive-distortion::before {
  position: absolute;

  width: 100%;
  height: 100%;

  background-image: url("../assets/images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.1;

  content: "";
}

.cognitive-distortion-content {
  position: relative;

  width: 1100px;
  margin: 0 auto;
  padding-top: 100px;
  padding-bottom: 100px;
}

.cognitive-distortion-top-block {
  display: flex;
  flex-direction: row;
}

.cognitive-distortion-image {
  box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.15);
}

.cognitive-distortion-title-block {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.cognitive-distortion-subtitle {
  margin: 0;
  color: var(--translucent-dark);
  font: 400 24px/29px Neucha, sans-serif;
}

.cognitive-distortion-title {
  margin-bottom: 30px;
}

.cognitive-distortion-description {
  font: 400 34px/40.8px Neucha, sans-serif;
  margin-top: 0;
}

.cognitive-distortion-manifestation {
  column-count: 2;
  column-gap: 30px;
}

.cognitive-distortion-manifestation-title {
  box-sizing: border-box;
  column-span: all;
  margin-top: 100px;
  margin-bottom: 20px;
  padding: 5px 10px;
  color: var(--white);
  font: 700 14px/16.8px "Open Sans", sans-serif;
  background-color: var(--brown);
}

.m-0 {
  margin: 0;
}

.mr-30 {
  margin-right: 30px;
}

.ml-30 {
  margin-left: 30px;
}

.brown-theme {
  background-color: var(--brown);
  color: var(--white);
}

.brown-theme a {
  color: var(--white);
}

.brown-theme .cognitive-distortion-subtitle {
  color: var(--translucent-white);
}

.brown-theme .cognitive-distortion-manifestation-title {
  color: var(--brown);
  background-color: var(--white);
}