.input-block {
  display: flex;
  justify-content: space-between;
  
  box-sizing: border-box;

  width: 1100px;
  margin: 0 auto;

  padding-right: 55px;
  padding-left: 55px;

  background-color: var(--primary-dark);
}

.input-block h3 {
  width: 393px;
  
  margin: 55px 0;

  color: var(--white);
}

.input-block-form {
  width: 493px;

  margin-top: 38px;

  color: var(--white);
}

.input-block-form label {
  margin-top: 0;
  margin-bottom: 9px;

  font-size: 18px;
  line-height: 28.8px;
}

.field {
  display: flex;

  height: 50;
}

.field input {
  box-sizing: border-box;

  width: 423px;
  height: 50px;

  padding: 15px;
}

.field button {
  position: relative;

  width: 70px;
  height: 50px;

  margin: 0;

  background-color: var(--primary);

  border: none;
}

.field button::before {
  top: 0;
  right: 0;

  margin: auto;

  content: url("../assets/images/send.svg");
}

.input-block-message {
  width: 423px;

  margin: 0;

  font-size: 12px;
}

.contact-info-block {
  padding-top: 60px;
  padding-bottom: 100px;

  font-size: 14px;
  text-align: center;
}