/* Base styles */

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  src: url("../assets/fonts/OpenSans-regular.ttf");
}

@font-face {
  font-family: "Open Sans";
  font-style: italic;
  src: url("../assets/fonts/OpenSans-Italic.ttf");
}

@font-face {
  font-family: Neucha;
  src: url("../assets/fonts/Neucha-Regular.ttf");
}

:root {
  --white: #fff;
  --translucent-white: #d7ccc0;
  --light: #f5f4f0;
  --primary: #fe8a02;
  --primary-dark: #42413c;
  --dark: #2a2626;
  --translucent-dark: #908d8b;
  --brown: #b09a81;
  --blue: #1085c5;
  --primary-hover: #EA7600;
}

body {
  box-sizing: border-box;

  margin: 0%;

  overflow-x: hidden;

  color: var(--dark);
  font: 16px/1.6em "Open Sans", sans-serif;
}

h1,
h2,
h3,
h4 {
  margin-top: 0;

  font-weight: normal;
  font-family: Neucha, sans-serif;
  line-height: 1.2em;
}

h1 {
  font-size: 72px;
}

h2 {
  margin-bottom: 0;

  color: var(--primary);
  font-size: 60px;
}

h3 {
  font-size: 34px;
}

h4 {
  font-size: 24px;
}

/* Servies classes */

.content-container {
  position: relative;

  width: 1100px;
  margin: 0 auto;
  padding-top: 100px;
  padding-bottom: 100px;
}

.m-0 {
  margin: 0;
}

.mt-0 {
  margin-top: 0;
}

.text-dark {
  color: var(--dark);
}

.text-white {
  color: var(--white);
}

/* Header */

.header {
  position: relative;

  background-color: var(--light);
}

.header::before {
  position: absolute;

  width: 100%;
  height: 100%;

  background-image: url("../assets/images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.1;

  content: "";
}

.header__title {
  position: relative;
  z-index: 10 ;

  margin-bottom: 200px;

  color: var(--primary);
}

.header__image {
  position: absolute;
  top: 55px;
  right: -270px;

  height: 525px;
}

.header__description {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.header__description_col-left {
  width: 540px;
}

.header__description_col-right {
  width: 540px;
}

.header__link {
  display: block;

  box-sizing: border-box;
  width: 148px;
  margin-top: 40px;
  padding: 12px 24px;

  color: var(--white);
  font-weight: bold;
  text-decoration: none;

  background-color: var(--primary);

  cursor: pointer;
}

.header__link:hover {
  background-color: var(--primary-hover);
}

/* Video section */

.video-section {
  margin-bottom: -200px;

  text-align: center;

  background-color: var(--white);
}


.video-section__title {
  margin-bottom: 30px;
}

.video-section__description {
  margin-bottom: 30px;
}

.video-section__video {
  width: 920px;
  height: 570px;

  border-width: 0;
  filter: drop-shadow(0 16px 32px rgb(0 0 0 / 15%));
}


/* Nav section */

.nav-section {
  padding-top: 100px;

  background-color: var(--primary-dark);
}

.navs {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.navs__title {
  width: 350px;
  height: 325px;
  margin-bottom: 20px;

  color: var(--primary);
  font-size: 52px;
}

.navs__card {
  position: relative;

  box-sizing: border-box;

  width: 350px;
  
  padding: 24px;
  
  color: var(--dark);
  text-decoration: none;
  
  background-color: var(--light);
  
  cursor: pointer;
}

.navs__card_top {
  height: 323px;
}

.navs__card:hover {
  color: var(--white);

  background-color: var(--primary);
}

.navs__card:hover .navs__card__title {
  color: var(--white);
}

.navs__card:hover .navs__card__num {
  color: var(--white);
}

.navs__card__num {
  margin: 0;
  margin-bottom: 40px;

  color: var(--primary-dark);
  font: 64px/1 Neucha, sans-serif;
}

.navs__card__title {
  margin-bottom: 16px;

  color: var(--primary);
}

/* Cognitive distortion */

.cognitive-distortion {
  background-color: var(--light);
}

.cognitive-distortion::before {
  position: absolute;

  width: 100%;
  height: 100%;

  background-image: url("../assets/images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.1;

  content: "";
}

.image-and-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  margin-bottom: 100px;
}

.image-and-title__image {
  margin-right: 30px;

  filter: drop-shadow(0px 16px 32px rgba(0, 0, 0, 0.15));
}

.image-and-title__title-block {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.title-block__subtitle {
  margin: 0;

  color: var(--translucent-dark);
  font: 400 24px/29px Neucha, sans-serif;
}

.title-block__title {
  margin-bottom: 30px;

  color: var(--dark);
}

.title-block__description {
  margin-top: 0;

  font: 400 34px/40.8px Neucha, sans-serif;
}

.subtitle {
  box-sizing: border-box;

  margin-bottom: 20px;
  padding: 5px 10px;
  
  color: var(--white);
  font: 700 14px/16.8px "Open Sans", sans-serif;
  text-transform: uppercase;
  
  column-span: all;

  background-color: var(--brown);
}

.text {
  display: flex;
}

.text__col-1 {
  width: 540px;
  margin: 0;
  margin-right: 30px;
}

.text__col-2 {
  width: 540px;
  margin: 0;
}

.cognitive-distortion_brown-theme {
  color: var(--white);

  background-color: var(--brown);
}

.cognitive-distortion_brown-theme .image-and-title__image {
  margin-right: 0;
  margin-left: 30px;
}

.cognitive-distortion_brown-theme .title-block__title {
  color: var(--white);
}

.cognitive-distortion_brown-theme .title-block__subtitle {
  color: var(--translucent-white);
}

.cognitive-distortion_brown-theme .subtitle {
  color: var(--brown);

  background-color: var(--white);
}

/* Footer */

.footer {
  padding-top: 100px;
}

.input-block {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  
  box-sizing: border-box;
  width: 1100px;
  margin: 0 auto;
  padding: 0 55px;
  
  background-color: var(--primary-dark);
}

.input-block__question {
  width: 393px;
  
  margin: 55px 0;

  color: var(--white);
}

.input-block__form {
  width: 493px;

  color: var(--white);
}

.field {
  display: flex;
  
  height: 50;
}

.field__label {
  margin-top: 0;
  margin-bottom: 9px;

  font-size: 18px;
  line-height: 28.8px;
}

.field__input {
  box-sizing: border-box;

  width: 423px;
  height: 50px;

  padding: 15px;
}

.field__message {
  width: 423px;

  margin: 0;

  font-size: 12px;
}

.field__button {
  position: relative;

  width: 70px;
  height: 50px;

  margin: 0;

  background-color: var(--primary);

  border: none;
}

.field__button::before {
  top: 0;
  right: 0;

  margin: auto;

  content: url("../assets/images/send.svg");
}

.field__button:hover {
  background-color: var(--primary-hover);
}

.contact-info-block {
  padding-top: 60px;
  padding-bottom: 100px;

  font-size: 14px;
  text-align: center;
}