.video-section {
  text-align: center;

  background-color: var(--white);
}

.video-section-title {
  color: var(--primary);
}

.video-section-video {
  position: absolute;
  bottom: -100px;
  left: 90px;

  z-index: 10;

  filter: drop-shadow(0 16px 32px rgb(0 0 0 / 15%));
}

.video-section-description {
  margin-bottom: 415px;
}
